<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Dragonchain>
    <DefaultDragonchainId>configTestId</DefaultDragonchainId>
    <Credentials>
      <configTestId>
        <AUTH_KEY>configAuthKey</AUTH_KEY>
        <AUTH_KEY_ID>configAuthKeyId</AUTH_KEY_ID>
        <ENDPOINT_URL>configEndpointUrl</ENDPOINT_URL>
      </configTestId>
    </Credentials>
  </Dragonchain>
</Configuration>

